{% load static %}
{% load chunks %}

<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <a href="{% url 'products'%}"><p>View More</p></a>
    </div>
</div>
<!-- Products -->
<div class="small-container">
    {% for products in related_product|chunks:4 %}
    <div class="row">
        {% for product in products %}
        <div class="col-4">
            <a href="{% url 'product_details' product.id %}"><img src="{{ product.image.url }}"></a>
            <h4>{{product.title}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>${{product.price}}</p>
        </div>
        {% endfor %}
        <!-- <div class="col-4">
            <img src="{% static 'images/product-10.jpg' %}">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-11.jpg' %}">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-12.jpg' %}">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div> -->
    </div>
    {% endfor %}
</div>